In [58]:
import pandas as pd
import numpy as np

In [59]:
df=pd.read_csv("adult.data.csv")

In [60]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [88]:
1#What is the average age of men?
average_age_male = df[df['sex'] == 'Male']['age'].mean()
average_age_male

39.43354749885268

In [7]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [8]:
df.shape

(32561, 15)

In [22]:
2#how many people of each race are represented in this dataset?
race_counts = df['race'].value_counts()
race_count=race_counts.tolist()
race_count

[27816, 3124, 1039, 311, 271]

In [5]:
3 #What is the percentage of people who have a Bachelor's degree?
PeopleNBR = df['education'].count()
bachelors_count = (df['education'] == "Bachelors").sum()
percentage_bachelors = (bachelors_count / PeopleNBR) * 100 
percentage_bachelors

16.44605509658794

In [91]:
4 #What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentageHighIncomeAdvancedEducation = (advanced_education['salary'] == '>50K').sum()
total_advanced_education = len(advanced_education)
percentageHighIncomeAdvancedEducation = (percentageHighIncomeAdvancedEducation / total_advanced_education) * 100
percentageHighIncomeAdvancedEducation

46.535843011613935

In [7]:
5 #What percentage of people without advanced education make more than 50K?
#1 Filter the DataFrame for people without advanced education
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
#2  Filter the DataFrame for people without advanced education and with salary >50K
filtered_df = df[~df['education'].isin(advanced_education) & (df['salary'] == '>50K')].sum()
# Calculate the total number of people without advanced education
total_without_advanced_education = df[~df['education'].isin(advanced_education)].shape[0]
#3 Calculate the percentage
percentage_above_50k = (filtered_df.shape[0] / total_without_advanced_education) * 100
percentage_above_50k

17.3713601914639

In [8]:
6 #What is the minimum number of hours a person works per week?
min_hours_per_week = df['hours-per-week'].min()
min_hours_per_week

1

In [51]:
7 #What percentage of the people who work the minimum number of hours per week have a salary of more than 50K :
#1 number of people who work the minimum number of hours per week
NBR_P_MinHrsPerWeek = (df['hours-per-week'] == 1).sum()
#2Number of the people who work the minimum number of hours per week have a salary of more than 50K
NBR_P_MinHrsPerWeek_SALARY = df[(df['hours-per-week'] == 1) & (df['salary']==">50K")]['hours-per-week'].sum()
#3 percentage Number of people who work the minimum number of hours per week have a salary of more than 50K
NBR_P_MinHrsPerWeek_SALARY_perc=(NBR_P_MinHrsPerWeek_SALARY/NBR_P_MinHrsPerWeek)*100
NBR_P_MinHrsPerWeek_SALARY_perc

10.0

In [19]:
8 #What country has the highest percentage of people that earn >50K and what is that percentage?
#1 filtre with salary
filtered_df_salary = df[df['salary'] == '>50K']

#2 Group by 'native-country' and calculate the percentage
percentage_by_country = (filtered_df_salary['native-country'].value_counts() / df['native-country'].value_counts()) * 100

#3 Find the country with the highest percentage
max_country = percentage_by_country.idxmax()
max_percentage = percentage_by_country.max()

In [20]:
#8 A
print('the highest percentage of people that earn >50K is',max_country)

the highest percentage of people that earn >50K is Iran

In [18]:
#8 B 
print('% of the highest percentage of people that earn >50K is Iran with ',max_percentage)

% of the highest percentage of people that earn >50K is 41.86046511627907

In [44]:
#9 Identify the most popular occupation for those who earn >50K in India.
#1 filtre with salary and occupation
filtered_df_salary_country = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
#2 find the occupation
occupation_count=filtered_df_salary_country['occupation'].value_counts().idxmax()
occupation_count

'Prof-specialty'

In [55]:
#partie finale 
import pandas as pd

def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_counts = df['race'].value_counts()

    # What is the average age of men?
    average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)


    # What is the percentage of people who have a Bachelor's degree?
    PeopleNBR = df['education'].count()
    bachelors_count = (df['education'] == "Bachelors").sum()
    percentage_bachelors = round((bachelors_count / PeopleNBR) * 100, 1)


    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?
    # A with 'bachelors', 'Masters' or 'Doctorate':
    advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    higher_education = (advanced_education['salary'] == '>50K').sum()

    # B without 'bachelors', 'Masters' or 'Doctorate':
    non_advanced_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    lower_education = (non_advanced_education['salary'] == '>50K').sum()

    # percentage with salary >50K
    total_advanced_education = len(advanced_education)
    higher_education_rich = round((higher_education / total_advanced_education) * 100, 1)

    total_non_advanced_education = len(non_advanced_education)
    lower_education_rich = round((lower_education / total_non_advanced_education) * 100, 1)


    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    NBR_P_MinHrsPerWeek = (df['hours-per-week'] == 1).sum()
    NBR_P_MinHrsPerWeek_SALARY = df[(df['hours-per-week'] == 1) & (df['salary'] == ">50K")]['hours-per-week'].sum()
    rich_percentage = (NBR_P_MinHrsPerWeek_SALARY / NBR_P_MinHrsPerWeek) * 100
    


    # What country has the highest percentage of people that earn >50K?
    filtered_df_salary = df[df['salary'] == '>50K']
    percentage_by_country = round((filtered_df_salary['native-country'].value_counts() / df['native-country'].value_counts()) * 100, 1)
    highest_earning_country = percentage_by_country.idxmax()
    highest_earning_country_percentage = round(percentage_by_country.max(), 1)




    # Identify the most popular occupation for those who earn >50K in India.
    filtered_df_salary_country = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
    top_IN_occupation = filtered_df_salary_country['occupation'].value_counts().idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_counts)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_counts,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage': highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }